body{
    padding-bottom: 7cm;
    background-image: linear-gradient(to bottom right, black,#262626, #2a2a2a, #414141, #3b3b3b);
    margin: 0%;
}

#top{
    width: auto;
    height: 1cm;
    padding-bottom: 15mm;
    padding-top: 6mm;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f3f3f3;
    box-shadow: 4px #f3f3f3;
    font-size: 30px;
}

#form{
    line-height: 1.5cm;
}

#table{
    padding: 60px;
    background-color: #262626;
    border: 1.5px solid yellow;
}

#star{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    color: yellow;
}

.name{
    width: 162.4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #f3f3f3;
    border-radius: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#email{
    width: 336.4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #f3f3f3;
    border-radius: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pw{
    width: 336.4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #f3f3f3;
    border-radius: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#submit{
    width: 344.4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: yellow;
    border-radius: 0%;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#submit:hover{
    background-color: antiquewhite;
}

#submit:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

